<h1>Glossary</h1>

<h2>Add an entry</h2>

<%= render partial: "error_panel", locals: { errors: @glossary.errors } if @glossary.errors.any? %>

<%= render partial: "form", locals: {glossary: @glossary, submit_text: 'Add entry'} %>

<br />
<%= link_to 'Cancel', glossaries_path %>
